#loginPage {
  height: 100vh;
  background-color: #002626;
  color: #839496;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  & #loginContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    > h1 {
      width: 400px;
    }
    & > form {
      border: 1px solid lightgray;
      padding: 20px;
      #loginPageBtns {
        margin-top: 20px;
        display: flex;
        align-items: center;
        & > small {
          margin: 0 10px;
        }
      }
      & > .form-group {
        & > input {
          color: #073642;
          background-color: #a9bdbd;
        }
      }
    }
  }
  & > img {
    height: 400px;
  }
}
