#navigation {
  background-color: rgb(7, 54, 66);
  transition: all 1s;
  #navbarNavAltMarkup {
    justify-content: space-between;
    // height: 30px;
    // opacity: 1;
    // opacity: 0;
    // transition: all 1s;
    #logout {
      width: 81.89px;
    }
  }
  .navbar-toggler {
    margin: 10px 0;
  }
  #newExpenseBtn,
  #newIncomeBtn,
  #logout,
  #myProfileBtn,
  #dashboardBtn {
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  #dashboardBtn,
  #newIncomeBtn {
    margin: 0 30px;
  }
}

@media (max-width: 768px) {
  #navigation {
    height: 130px;
    position: relative;
    // .firstNavbar {
    //   position: absolute;
    //   top: 70px;
    // }
    .secondNavbar {
      height: 120px;
      justify-content: space-around;
    }
    #navbarNavAltMarkup {
      // height: 0;
      // opacity: 0;
      display: none;
      transition: all 1s;
      #newIncomeBtn {
        margin: 0;
      }
    }
  }
}

@media (max-width: 540px) {
  #userNameAndEmail {
    opacity: 0;
  }
}
