#navigation {
  background-color: rgb(7, 54, 66);
  #navbarNavAltMarkup {
    justify-content: space-between;
    height: 30px;
    opacity: 1;
    // opacity: 0;
    // transition: all 1s;
    #logout {
      width: 81.89px;
    }
  }
  #newExpenseBtn,
  #newIncomeBtn,
  #logout,
  #myProfileBtn,
  #dashboardBtn {
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  #dashboardBtn,
  #newIncomeBtn {
    margin: 0 30px;
  }
}

@media (max-width: 768px) {
  #navigation {
    #navbarNavAltMarkup {
      height: 0;
      opacity: 0;
      transition: all 1s;
      #newIncomeBtn {
        margin: 0;
      }
    }
  }
}
